<!-- 神经网络组件 - 可复用的HTML模板 -->
<div class="neural-network-component" data-width="{{ include.width | default: 300 }}" data-height="{{ include.height | default: 300 }}">
    <div class="neural-nodes">
        <div class="neural-node neural-1"></div>
        <div class="neural-node neural-2"></div>
        <div class="neural-node neural-3"></div>
        <div class="neural-node neural-4"></div>
        <div class="neural-connection neural-conn-1"></div>
        <div class="neural-connection neural-conn-2"></div>
        <div class="neural-connection neural-conn-3"></div>
        <div class="neural-connection neural-conn-4"></div>
        <div class="neural-connection neural-conn-5"></div>
        <div class="neural-connection neural-conn-6"></div>
    </div>
</div>
